*{
    margin: 0;
    padding: 0;
}
body{
    background: url(/Imag.Inicio_Home/grass.svg) center / cover no-repeat fixed;
    background-size: 100%;
    background-position: bottom center;
    overflow: hidden;
   
}
.container{
    display: flex;
    flex-direction: row;
}
.bar{
    height: 100vh;
    width: 90px;
    background-color: #60836A;
    display: flex;
    flex-direction: column; 
    ;
}   
ul{
    display: flex;
    gap: 7vh;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    padding: 2em 0;
    position: sticky;
}
.pig{
    position: absolute;
    top: 70vh;
    left: 40%;
    width: 200px;
}